.navbar__container {
    background-color: var(--secondary)!important;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar__container .btn__search {
    border-color: var(--primary);
    color: var(--primary);
}

.navbar__container .form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgba(23, 135, 130, 0.25);
}

.navbar-brand {
    color: var(--black);
    font-size: 25px;
}

@media (max-width: 575.98px) {
    .navbar .container-fluid {
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}